<h3>Education</h3>
<form>
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="schoolName">School Name</label>
            <input type="text"
                id="schoolName"
                class="form-control"
                #schoolNameInput>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"
                (click)="updateSchoolName()">Update
            </button>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="expectedGradDate">Expected Graduation</label>
            <input type="date"
                id="expectedGradDate"
                class="form-control"
                #expectedGradDateInput>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"
                (click)="updateGradDate()">Update
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="schoolDescription">Education Descriptions</label>
            <input type="text"
                id="schoolDescription"
                class="form-control"
                #schoolDescriptionInput>
            <small>Add one line at a time. Example line: 
                "GPA: 4.0" or "Merit Scholarship Recipient"
                <br>
                Hit button after entering in a single line.
            </small>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"
                (click)="updateSchoolDescription()"
                >Update
            </button>
        </div>
    </div>
</form>