<h3>Experiences</h3>
<form>
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="experienceName">Experience Name</label>
            <input type="text"
                id="experienceName"
                class="form-control"
                #experienceNameInput>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"
                (click)="updateExperienceName()"
                >Update
            </button>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="startDate">Start Date</label>
            <input type="date"
                id="startDate"
                class="form-control"
                #startDateInput>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"

                >Update
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="endDate">End Date</label>
            <input type="date"
                id="endDate"
                class="form-control"
                #endDateInput>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"

                >Update
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 form-group">
            <label for="experienceDescription">Experience Descriptions</label>
            <input type="text"
                id="experienceDescription"
                class="form-control"
                #experienceDescriptionInput>
            <small>Add one line at a time. Example line: 
                "GPA: 4.0" or "Merit Scholarship Recipient"
                <br>
                Hit button after entering in a single line.
            </small>
        </div>
        <div class="col-sm-3 form-group">
            <button class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"
                
                >Update
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn btn-success"
                type="button"
                style="margin:5px; margin-top:25px;"

                >Add Another Experience
            </div>
        </div>
    </div>
</form>